extends layout

block content
  if info != undefined
    script.
      alert("#{info}")
  .navbar(id="navbar")
    ul(style='display: block;')
      li
        #menuToggle(style='z-index: 2;')
          input.burgerInput(type='checkbox')
          span.burgerSpan
          span.burgerSpan
          span.burgerSpan
          ul#menu
            li
              form.burgerForm(method="get" action="/app/search")
                input.burgerSearch(type="text" placeholder="Search.." name="searchInput" required)
                button.burgerButton(type="submit")
                  i(class="fa fa-search")
            if username != undefined 
              li
                form.burgerForm(method="get" action="/app/listFavorites")
                  button.burgerButton(type="submit") Favorites 
                    i(class="fas fa-heart")
            li
              form.burgerForm(method="get" action="/app/listRatings")
                button.burgerButton(type="submit") Ratings 
                  i(class="fas fa-star")
            li
              form.burgerForm(method="get" action="/app/listByLanguage")
                select.burgerSelect(name="language")
                  option(value="none" disabled selected) Languages 
                  option(value="English") English ðŸ‡ºðŸ‡¸
                  option(value="French") French ðŸ‡«ðŸ‡·
                button.burgerButton(type="submit") 
                  i(class="fas fa-check")
            if username != undefined
              li 
                form.burgerForm
                  button.burgerButton(type="button" id="addMovieIcon") Add Movie 
                    span(class="fas fa-video")
      li(style='height: 0px;')
        a(href="/app/" style="color: black;")
          h1.middleNav= title 
      li
        if username != undefined 
          a.rightNav(href="/app/logout") Logout
        else 
          a.rightNav(href="/app/login") Login
        script(type='text/javascript' defer='' src='https://donorbox.org/install-popup-button.js')
        a.dbox-donation-button.rightNav(href='https://donorbox.org/venom-stream-funding?default_interval=o') Donate

  if currentPage != undefined
    .pageSelectorsContainer.xsmall
      .pagination
        ul
          li.paginationLi
            form.pageSel(method="get" style="display: inline")
              input(type="hidden" name="currentPage" value=(parseInt(currentPage) - 1)) 
              input(type="hidden" name="action" value="previous") 
              button(onclick="submit" class="loadMoreButton")
                a
          li.active.paginationLi
            a= currentPage
          li.paginationLi
            form.pageSel(method="get" style="display: inline")
              input(type="hidden" name="currentPage" value=(parseInt(currentPage) + 1)) 
              input(type="hidden" name="action" value="next") 
              button(onclick="submit" class="loadMoreButton")
                a
      script.
        document.getElementsByClassName("pageSel")[0].action = window.location.href.replace("#last", "") + "#last";
        document.getElementsByClassName("pageSel")[1].action = window.location.href.replace("#last", "") + "#last";
        if(window.location.href.includes("?")) {
          //- input(type="hidden" name="placeholder" value="placeholder")
          var queryString = window.location.search.replace("?", "");
          queryString = queryString.replaceAll("=", "&");
          queryString = queryString.split("&");
          for(var i = 0; i < queryString.length; i = i + 2) {
            if(queryString[i] != "currentPage" && queryString[i] != "action") {
              var element = document.createElement("input");
              element.type = "hidden";
              element.name = queryString[i];
              element.value = queryString[(i + 1)];
              document.getElementsByClassName("pageSel")[0].appendChild(element);
              var element = document.createElement("input");
              element.type = "hidden";
              element.name = queryString[i];
              element.value = queryString[(i + 1)];
              document.getElementsByClassName("pageSel")[1].appendChild(element);
            }
          }
        }
  ul(class="cardsUl" id="cardsUl")
    if categories != undefined
      each category, j in categories
        li(class="categoryHolder unselectable" id=category)
          div(class="categoryTopHolder")
            span(class="fas fa-chevron-left categoryIcon" onclick="categorySlide('left', '#{category}');")
            h2(class="categoryName")= category
            span(class="fas fa-chevron-right categoryIcon" onclick="categorySlide('right', '#{category}');")
          hr(class="categoryLine")
          script.
            var x = parseInt("#{category}");
            if (x >= 1 && x <= 10) {
              var icon = document.createElement("i");
              icon.style.color = "var(--main)";
              icon.style.fontSize = "20px";
              icon.style.marginLeft = "2px";
              $(icon).addClass("fas fa-star");
              console.log(icon);
              document.getElementById("#{category}").children[0].insertBefore(icon, document.getElementById("#{category}").children[0].children[2]);
            }
            
    each movie, i in moviesArray
      if movie != undefined
        li(id="li"+ i)
          if username != undefined 
            if favorites.includes(movie.movieID)
              span(class="fas fa-heart cardFavorite" id="favorite" + i + "" onclick="favoriteMovie(this, '" + movie.movieID +"')" style="z-index: 3;")
            else 
              span(class="far fa-heart cardFavorite" id="favorite" + i + "" onclick="favoriteMovie(this, '" + movie.movieID +"')" style="z-index: 3;")  
          div(class="card" onclick="playMovie("+ i + ")") 
            p(class="cardDescription")= movie.description
            img(src=movie.poster alt="Movie Banner" style="width:100%; height: 259px;" onerror="this.onerror=null; this.src='/images/default.png'")
            div(class="container" id="container" + i style="padding: 0px;")
              h4 
                b(id="movieText" + i style="font-size: 14px")= movie.name
                script.
                  while (document.getElementById("movieText#{i}").offsetWidth > document.getElementById("container#{i}").offsetWidth) { document.getElementById("movieText#{i}").style.fontSize = (parseInt(document.getElementById("movieText#{i}").style.fontSize.replace("px", "")) - 1 + "px")}
              p= movie.rating 
                i(class="fas fa-star")
              p(class="movieLang")
                if movie.language == "en" 
                  span(class="flag-icon flag-icon-us")
                if movie.language == "fr"
                  span(class="flag-icon flag-icon-fr")
          div(id="myModal" + i class="modal")
            div(class="modal-content")
              span(class="close" onclick="closeMoviePopup(#{i})") &times;
              h2(style="margin: 15px;")= movie.name
              a(style="font-size: 18px; margin: 15px;" href="sodaplayer:?url=" + movie.magnet_link + "&title=" + movie.name onclick="(function(){ document.getElementById('myModal#{i}').style.display = 'none'; })();return true;") Stream
              br
              a( href="https://www.sodaplayer.com/" target="_blank") Dont have Sodaplayer? Install now
        script.
          if("#{searchLink}" != "true") {
            var genre#{i} = ("#{movie.genres[0]}".replace("&amp;", "&"));
            if (document.getElementById(genre#{i}) == undefined) {
              var li = document.createElement("li");
              $(li).addClass("categoryHolder");
              $(li).addClass("unselectable");
              li.id = genre#{i};
              var h2 = document.createElement("h2");
              $(h2).addClass("categoryName");
              h2.textContent = genre#{i};
              var icon = document.createElement("span");
              $(icon).addClass("fas");
              $(icon).addClass("fa-chevron-right");
              $(icon).addClass("categoryIcon");
              icon.onclick = function() {categorySlide("right", genre#{i});}
              var icon2 = document.createElement("span");
              icon2.onclick = function() {categorySlide("left", genre#{i});}
              $(icon2).addClass("fas");
              $(icon2).addClass("fa-chevron-left");
              $(icon2).addClass("categoryIcon");
              var div = document.createElement("div");
              $(div).addClass("categoryTopHolder");
              var hr = document.createElement("hr");
              $(hr).addClass("categoryLine");
              div.appendChild(icon2);
              div.appendChild(h2);
              div.appendChild(icon);
              li.appendChild(div);
              li.appendChild(hr);
              document.getElementsByClassName("cardsUl")[0].appendChild(li);
              document.getElementById(genre#{i}).appendChild(document.getElementById("li#{i}"));
            } else {
              document.getElementById(genre#{i}).appendChild(document.getElementById("li#{i}"));
            }
          } else {
            document.getElementById("cardsUl").style = "padding-left: 100px;"
          }
  if currentPage != undefined
    if moviesArray.length >= 24
      .pageSelectorsContainer.xsmall
        .pagination
          ul
            li.paginationLi
              form.pageSel(method="get" style="display: inline")
                input(type="hidden" name="currentPage" value=(parseInt(currentPage) - 1)) 
                input(type="hidden" name="action" value="previous") 
                button(onclick="submit" class="loadMoreButton")
                  a
            li.active.paginationLi
              a= currentPage
            li.paginationLi
              form.pageSel(method="get" style="display: inline")
                input(type="hidden" name="currentPage" value=(parseInt(currentPage) + 1)) 
                input(type="hidden" name="action" value="next") 
                button(onclick="submit" class="loadMoreButton")
                  a
        script.
          document.getElementsByClassName("pageSel")[2].action = window.location.href.replace("#last", "") + "#last";
          document.getElementsByClassName("pageSel")[3].action = window.location.href.replace("#last", "") + "#last";
          if(window.location.href.includes("?")) {
            //- input(type="hidden" name="placeholder" value="placeholder")
            var queryString = window.location.search.replace("?", "");
            queryString = queryString.replaceAll("=", "&");
            queryString = queryString.split("&");
            for(var i = 0; i < queryString.length; i = i + 2) {
              if(queryString[i] != "currentPage" && queryString[i] != "action") {
                var element = document.createElement("input");
                element.type = "hidden";
                element.name = queryString[i];
                element.value = queryString[(i + 1)];
                document.getElementsByClassName("pageSel")[2].appendChild(element);
                var element = document.createElement("input");
                element.type = "hidden";
                element.name = queryString[i];
                element.value = queryString[(i + 1)];
                document.getElementsByClassName("pageSel")[3].appendChild(element);
              }
            }
          }
    footer.footer
      .social
        a.footerIcon(href='')
          i(class="fas fa-circle" style="color: #00e676;" id="colorPicker1")
        a.footerIcon(href='https://twitter.com/VenomStream' target="_blank")
          i(class="fab fa-twitter-square")
        a.footerIcon(href='https://www.instagram.com/veno.mstream/' target="_blank")
          i(class="fab fa-instagram-square")
        a.footerIcon(href='https://www.linkedin.com/company/venomstream' target="_blank")
          i(class="fab fa-linkedin")
        a.footerIcon(href='' style="color: #e6002e;" id="colorPicker2")
          i(class="fas fa-circle")
      .copyright
        p(id="year") Â© 2069 - VenomStream
        script.
          document.getElementById("year").textContent = ("Â©" + new Date().getFullYear() + " - VenomStream" );

  div(id="myModal" class="modal")
    div(class="modal-content")
      span(class="close" onclick="(function(){ document.getElementById('myModal').style.display = 'none' })();return false;") &times;
      h2 Add something using title
      form(method="post" action="/app/addmovie" id="addMovieModal")
        select.burgerSelect(type="select" name="type" style="margin-top: 15px;" id="MovieType") 
          option(value="movie") Movie
          option(value="show") TV Show
          option(value="anime") Anime
        select.burgerSelect(type="select" name="language" id="MovieLang") 
          option(value="en") English
          option(value="fr") French
        br
        input.burgerSearch(type="text" name="movieTitle" id="MovieTitle")
        button.burgerButton(type="submit" id="addMovieSubmit") Submit

  script(src='/javascripts/index.js')

  span(style="display: none;")
    â â â â â â â â¢¶â£¶â£¶â£¶â£¤â£¤â¡€â â â£ â£€â£€â â â â â â â â â â â 
    â â â â â â â â â ™â¢¿â£¯â£ â£¶â£¦â£¤â£¤â£Œâ£›â »â¢‡â£ â£¤â£¤â â â â â â â 
    â â â â â â â â â â â »â£¿â£¿â£¿â¡Ÿâ¢‰â¡¤â¢¤â£¤â£¤â¡â ›â¢¡â¢–â£¥â£¶â£¦â£€â â 
    â â â â â â â â â â â£ â£¿â£¿â£¿â¡â£­â£¶â£¿â£¿â Ÿâ¢¿â£¦â¡¡â£¿â£¿â¡‡â â¡™â£·â¡€
    â â â â â â â â£€â£´â£¿â£¿â£¿â£¿â£¿â£¿â¡žâ£¿â£¿â¡Ÿâ¢€â¡€â£¿â£¿â¢»â£¿â£¿â£€â£â£¿â 
    â â â â¢€â£ â£¶â£¿â£¿â£¿â£¿â£¿â£¿â£¿â£¿â£Ÿâ¢°â¢»â£¿â£‡â£ˆâ£´â£¿â Ÿâ¢¨â£›â ›â ›â ‰â â 
    â â£ â£¶â£¿â£¿â¡Ÿâ¢‹â ¤â£¤â ˜â¢¿â£¿â£§â¡™â »â Œâ ’â ™â ›â¢›â£«â£¥â£¿â£¦â¡ˆâ ‰â£¡â£´â£¾â ‡
    â¢°â£¿â£¿â£¿â£¿â â¡‡â â ™â ·â£¤â¡™â »â¢¿â£¿â£¶â£¶â£¶â£¿â£¿â£¿â£¿â£¿â£¿â£¿â ¿â Ÿâ ‹â â 
    â ˜â£¿â£¿â£¿â£¿â£†â »â£„â â£€â¡€â ‰â ™â ’â ‚â ‰â â ‰â ‰â ‰â ‰â£©â£â£â£‚â¡ˆâ  â ‚â â 
    â â ˜â¢¿â£¿â£¿â£¿â£¦â¡‰â ³â¢¬â£›â ·â¢¦â¡„â â â â â â£€â£¼â£¿â£¿â ¿â ›â ‹â â â â 
    â â â â ‰â »â¢¿â£¿â£¿â£·â£¦â£¬â£â£“â¡’â ’â£’â£‚â£ â¡¬â ½â “â ‚â â â â â â â â 